<div class="page d-flex flex-column">
  <header>
    <div class="container-fluid">
      <nav class="navbar">
        <div class="d-flex align-items-center">
          <a href="/" class="navbar-link"><i class="fa fa-leaf navbar-icon-logo"></i></a>
          <span class="ms-3 navbar-title">Nome da Empresa</span>
        </div>

        <div class="d-flex align-items-center">
          <span class="navbar-user me-1">{{user}}</span>
          <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user navbar-icon-user"></i>
          </a>

          <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
            <li class="logout py-1 ps-1 cursor-pointer fw-bold" (click)="logout()">
              Sair
            </li>
          </ul>
        </div>

      </nav> 
    </div>
  </header>

  <div class="main container my-5">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer d-flex justify-content-center align-items-center">
      &copy; Copyright. Nome da Empresa. Todos os direitos reservados.
  </footer>
</div>
