<div class="mb-3">
  <div class="form-group">
    <div class="input-group">
      <input 
        [type]="type"
        [id]="id + 'Input'"
        class="form-control"
        [class.hasValue]="control.value || type ==='date'"
        [(formControl)]="control"
      />
      
      <label [for]="id + 'field'" class="form-control-placeholder">{{ fieldName }}</label>

      <div 
        *ngIf="(type === 'password' || isShowingPassword) && canShowPassword" 
        class="input-group-append h-100 d-flex"
      >
        <button 
          type="button"
          class="no-btn show-password p-0 d-flex align-items-center"
          (click)="showPassword()"
        >
          <i [ngClass]="isShowingPassword ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i>
        </button>
      </div>
    </div>
</div>

  <app-input-error-message
    [control]="control"
    [errorMsgs]="errorMsgs"
  ></app-input-error-message>
</div>

